{% extends "posts/base.html" %}

{% block content %} 

<!-- Blog Entries Column -->
<div class="col-md-8">

 <a href="{% url 'blog-home' %}">Home Page </a>
 <!-- Blog Post -->
 <div class="card mb-4 mt-4">
   <div class="card-body">
     <h2 class="card-title">{{ object.post_title }}</h2>
     <p class="card-text">{{ object.post_text | linebreaks }}</p>
 
   </div>
   <div class="card-footer text-muted">
     Posted on {{ object.post_date }} by 
     <span class= "text-info mr-2">{{ object.post_author }}</span>
   </div>
 </div>

</div>

{% endblock %}