{% extends "posts/base.html" %}

{% block content %} 

<!-- Blog Entries Column -->
<div class="col-md-8">

 
 <!-- Blog Post -->
 <div class="card mb-4 mt-4">
   <div class="card-body">
     <h2 class="card-title">{{ object.post_title }}</h2>
     <p class="card-text">{{ object.post_text }}</p>
 
   </div>
   <div class="card-footer text-muted">
     Posted on {{ object.post_date }} by 
     <span class= "text-info mr-2">{{ object.post_author }}</span>
   </div>
 </div>



 <!-- Pagination -->
 <ul class="pagination justify-content-center mb-4">
   <li class="page-item">
     <a class="page-link" href="#">&larr; Previous Page</a>
   </li>
   <li class="page-item">
     <a class="page-link" href="#">Next Page &rarr;</a>
   </li>
 </ul>

</div>

{% endblock %}